### Import Libraries

In [10]:
import sqlite3

# sqlite3 docs
    # https://docs.python.org/3/library/sqlite3.html

### Create Database Variable

In [11]:
# Create DB B
db = 'NBA.db'

### Sample Syntax to Run SQL Query in SQLite

<code>conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

SQL QUERY HERE

''')
conn.commit()
conn.close()</code>

### SQL Create Teams Table

In [9]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS teams (
	id INTEGER,
	full_name TEXT,
	abbreviation TEXT PRIMARY KEY,
	nickname TEXT,
	city TEXT,
	state TEXT,
	year_founded INTEGER)
    
''')

conn.commit()
conn.close()

### SQL Create Teams ID Table

In [8]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS team_id (
    team_id INTEGER PRIMARY KEY)

''')

conn.commit()
conn.close()

### SQL CREATE Players Table

In [6]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS active_players (
    player_id INTEGER,
    full_name TEXT,
    first_name TEXT,
    last_name TEXT,
    is_active TEXT)

''')

conn.commit()
conn.close()

### SQL Create Player ID table

In [14]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS active_player_id (
    player_id INTEGER PRIMARY KEY)

''')

conn.commit()
conn.close()

### SQL Create Player Info Table

In [15]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS active_player_data (
	PERSON_ID INTEGER,
	FIRST_NAME TEXT,
	LAST_NAME TEXT,
	DISPLAY_FIRST_LAST TEXT,
	DISPLAY_LAST_COMMA_FIRST TEXT,
	DISPLAY_FI_LAST TEXT,
	PLAYER_SLUG BLOB,
	BIRTHDATE BLOB,
	SCHOOL TEXT,
	COUNTRY TEXT,
	LAST_AFFILIATION TEXT,
	HEIGHT BLOB,
	WEIGHT INTEGER,
	SEASON_EXP INTEGER,
	JERSEY INTEGER,
	POSITION TEXT,
	ROSTERSTATUS TEXT,
	GAMES_PLAYED_CURRENT_SEASON_FLAG TEXT,
	TEAM_ID INTEGER,
	TEAM_NAME TEXT,
	TEAM_ABBREVIATION TEXT,
	TEAM_CODE TEXT,
	TEAM_CITY TEXT,
	PLAYERCODE BLOB,
	FROM_YEAR INTEGER,
	TO_YEAR INTEGER,
	DLEAGUE_FLAG TEXT,
	NBA_FLAG TEXT,
	GAMES_PLAYED_FLAG TEXT,
	DRAFT_YEAR BLOB,
	DRAFT_ROUND BLOB,
	DRAFT_NUMBER BLOB,
	GREATEST_75_FLAG TEXT)
    
''')

conn.commit()
conn.close()

### SQL Create Game Results Table (total by team)

In [40]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

    CREATE TABLE IF NOT EXISTS game_results (
        SEASON_ID INTEGER,
        TEAM_ID INTEGER,
        TEAM_ABBREVIATION TEXT,
        TEAM_NAME TEXT,
        GAME_ID INTEGER,
        GAME_DATE date,
        MATCHUP BLOB,
        WL TEXT,
        MIN INTEGER,
        PTS INTEGER,
        FGM INTEGER,
        FGA INTEGER,
        FG_PCT REAL,
        FG3M INTEGER,
        FG3A INTEGER,
        FG3_PCT REAL,
        FTM INTEGER,
        FTA INTEGER,
        FT_PCT REAL,
        OREB INTEGER,
        DREB INTEGER,
        REB INTEGER,
        AST INTEGER,
        STL INTEGER,
        BLK INTEGER,
        TOV INTEGER,
        PF INTEGER,
        PLUS_MINUS REAL)

''')

conn.commit()
conn.close()

### SQL Create Game ID Table

In [16]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS game_id (
    game_id INTEGER PRIMARY KEY)

''')

conn.commit()
conn.close()

### SQL Create Boxscore Table

In [42]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS boxscores(
	GAME_ID INTEGER,
	TEAM_ID INTEGER,
	TEAM_ABBREVIATION TEXT,
	TEAM_CITY TEXT,
	PLAYER_ID INTEGER,
	PLAYER_NAME TEXT,
	NICKNAME TEXT,
	START_POSITION TEXT,
	COMMENT BLOB,
	MIN BLOB,
	FGM REAL,
	FGA REAL,
	FG_PCT REAL,
	FG3M REAL,
	FG3A REAL,
	FG3_PCT REAL,
	FTM REAL,
	FTA REAL,
	FT_PCT REAL,
	OREB REAL,
	DREB REAL,
	REB REAL,
	AST REAL,
	STL REAL,
	BLK REAL,
	[TO] REAL,
	PF REAL,
	PTS REAL,
	PLUS_MINUS REAL) 

''')

conn.commit()
conn.close()

### SQL Create Schedule Table

In [4]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS schedule (
	game_id INTEGER,
    game_date BLOB,
    game_date_time BLOB,
    sequence INTEGER,
    matchup BLOB,
    away TEXT,
    home TEXT,
    arena TEXT,
    city TEXT,
    state TEXT,
    season TEXT)
    
''')

conn.commit()
conn.close()

#### SQL Create Conference Table

In [5]:
conn = sqlite3.connect(db)
c = conn.cursor()

c.execute('''

CREATE TABLE IF NOT EXISTS conferences (
	team_name TEXT,
    team_acronym TEXT,
    conference TEXT,
    division TEXT,
    logo TEXT)
    
''')

conn.commit()
conn.close()